$main-highlight-color: #1d4d4f;

html, body {
    height: 100%;
}

body {
    background: #e5dfdf;
    color: $main-highlight-color;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.2em;
}

p {
    font-size: 1.25em;
}

ul li {
    padding: 0.15em 0;

    a {
        color: $main-highlight-color;
    }
}

#app {
    width: 100%;
}
